// For min-width
$sm : 480px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl : 1451px;
$xxxl : 1600px;

// For max-width
$sm : 479px;
$md : 767px;
$lg : 991px;
$xl : 1199px;
$xxl : 1450px;
$xxxl : 1599px;

